<center>
    <font face="宋体" color="black" size="4">
        <h1>设计Fabric SDK中间件的背景</h1>
    </font>
</center>
<font face="宋体" color="black" size="4">
    <p>
        &nbsp;&nbsp;近年来区块链技术受到社会各界的广泛关注，相关研究、应用、公司层出不穷。
        在中国知网中以区块链为关键字进行年度交叉分析，可以发现近5年每年相关论文发表数量的平均增长率为49.87%；进行共现矩阵分析，可以发现共现前五为：相关技术、物联网、大数据、供应链金融和智能合约。
        在天眼查以区块链为关键词统计每年新成立的区块链公司，可以发现2016到2019年每年新成立公司数目的平均增长率为110%。截止2020年7月新成立区块链公司数目突破10000家。
    </p>
    <p>
        &nbsp;&nbsp;Hyperledger Fabric之与区块链，很可能如同Hadoop之于大数据。在进行Fabric区块链开发时，很多时候是在进行业务开发，而且业务系统与区块链交互的部分是基本上是一成不变的。
        同时业务系统与区块链网络交互是一个耗时操作，这导致业务系统中负责处理业务的线程、线程组、进程或进程组很多时间都在等待与区块链网络交互的结果，这明显是对业务系统资源的一种浪费。
        与区块链网络进行交互的部分是一个高度可复用的部分，如果将其分离处理专门做成一个Fabric SDK中间件可以提高业务系统工作效率、可以降低业务系统集成区块链业务的难度、可以隔离业务系统的的开发语言。
    </p>
    <p>
        &nbsp;&nbsp;知网论文中描述的中间件大多是传统意义上的中间件。我们希望开发一个专门针对Fabric区块链网络的中间件，这个中间件可以接受业务系统所发送过来的消息、根据消息执行相应的区块链网络操作并将执行结果返回给业务系统。
        由于业务系统通过中间件与区块链网络进行交互，又可以方便的在中间件上进行针对区块链网络的访问控制、负载均衡以提高区块链网络的工作效率。为了证明上面的想法，本文设计了一个Fabric SDK中间件原型系统，并进行了一些测试。
    </p>
</font>