<center>
    <font face="宋体" color="black" size="4">
        <h1>使用Fabric SDK中间件的好处</h1>
    </font>
</center>
<center>
    <img src="http://localhost:4000/pic?image=fabric_sdk_design_mode.png" alt="Fabric SDK与Fabric网络交互的设计模式" />
</center>
<font face="宋体" color="black" size="4">
    <p>&nbsp;&nbsp;设计Fabric SDK和Fabric区块链网络进行交互的模式属于数据访问层。主要有两种设计思路：嵌入式和中间件式。
        嵌入式是将Fabric SDK嵌入到业务系统内部，从而为业务系统添加区块链服务。
        中间件式是将与区块链网络通信部分单独拿出来做一个中间件，通过与业务系统进行交互为业务系统提供区块链服务。
    </p>
    <!--<p>&nbsp;&nbsp;嵌入式和中间件式的设计思路各有优劣。
        在嵌入式的设计思路中：业务系统直接与区块链网络交互，其证书存储在业务系统内部，可以提高系统的安全性；由于与区块链网络进行交互直接嵌入到业务系统内部，一旦业务系统需要调整就会出现很多麻烦。
        在中间件式的设计思路中：业务系统通过与Fabric中间件交互实现与区块链网络的交互，可以降低区块链业务的接入难度；由于Fabric中间件与区块链网络进行交互，区块链网络中的用户证书必然由中间件保管，这容易出现安全问题。
    </p>-->
    <p>&nbsp;&nbsp;中间件式的优点如下：</p>
    <p>&nbsp;&nbsp;1、可以提高区块链业务的效率。
        与区块链网络进行交互是一个耗时操作：例如在一个含有10个peer节点区块链网络中进行查询操作，需要与这10个节点进行交互获取它们的账本高度并取账本高度最高的的节点的数据返回。
        在没有中间件的情况下，业务系统中执行业务的线程、线程组、进程或进程组需要等待与区块链网络的通信结束才能继续其他业务的运行。这是明显是对业务系统资源的一种浪费。
        采用Fabric SDK中间件后，业务系统专门起一个线程或进程负责与中间件进行通信。
        该线程或进程只需要在有区块链操作需求时将区块链操作消息发送给Fabric SDK中间件，在接收到中间件回复的消息处理结果时将结果推送给用户。
        Fabric SDK中间件在收到业务系统的消息后，先将消息存入消息队列；当有空闲进程时从队列中取出消息进行执行；执行完毕后再发送给业务系统。
        区块链的查询和上链业务并不是实时性要求特别高的业务，采用中间件的方式可以提高区块链业务的效率。
    </p>
    <p>&nbsp;&nbsp;2、可以对区块链业务进行负载均衡。
        例如区块链网络中有一个组织的业务量很多想进行一下负载均衡，将原来集中在一个peer节点上的业务以一定策略分配到到两个peer节点上。
        这时如果在业务系统做负载均衡将比较麻烦，在Fabric中间件上做负载均衡则容易的多。
    </p>
    <p>&nbsp;&nbsp;3、提高区块链网络的效率。
        同一通道内多个节点划分为多个不同的业务组，保证不同业务找不同的Peer节点，实现不同的交易业务和查询业务在网络中互不干扰的并发运行从而提高区块链网络的效率。
        例如：在一个通道内有多个组织，每个组织有多个Peer节点；区块链网络提供添加数据、查询数据、溯源等多个业务。
        可以将Peer节点划分为若干个业务组，做添加数据业务找负责添加数据业务的Peer组；做查询数据业务找负责查询数据业务的Peer组；做溯源业务找负责溯源业务的Peer组。
        保证多个业务，互不干扰的在同一个区块链网络上并发的运行。这样可以提高区块链网络的效率。
    </p>
    <p>
        &nbsp;&nbsp;4、降低区块链业务的集成难度。
        一般情况下业务系统的开发人员对网络通信特别熟习，但对于Fabric SDK的使用则需要进行额外的学习。
        如果使用Fabric SDK中间件，务系统开发人员可以使用与Fabric SDK中间件网络通信的方式为业务系统添加区块链业务，降低了区块链业务的集成难度。
    </p>
    <p>&nbsp;&nbsp;5、与业务系统分离，隔离业务系统所采用的开发语言。
        如果采用Fabric中间件的设计模式将可以使用Node SDK构建Fabric中间件与业务系统进行交互，从而隔离业务系统所采用的开发语言。
    </p>
</font>